.backgroundImage {
    aspect-ratio: 1/2;
    height: 200px;

}
 .textContainer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    
}

.text{
    filter: blur(-5px);
    color: white;
    font-family: 'Silkscreen', cursive;
    font-size: 40px;
    justify-items: center;
}
.second{

    min-width: 100vw;
    height: 700px;
    background-color: blue;
} 